html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    padding: 0px;
    margin: 0px;
}

body {
    font-size: 12px;
    font-weight: 400;
    margin: 0 auto;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}