html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    padding: 0px;
    margin: 0px;
}

body {
    font-family: $main-font;
    font-size: 12px;
    font-weight: 400;
    margin: 0 auto;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.link {
    display: block;
    text-decoration: none;
    cursor: pointer;
}

.list {
    margin: 0px;
    padding: 0px;
    list-style: none;
}