<div class="bg-wrap">
    <div class="container">
        <div class="logo">
            <a href="#">
                <picture class="logo-img">
                    <source
                        srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAH4AAAATCAMAAABhl0k+AAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAABaUExURQAAADcsSDcsSDcsSDcsSDcsSDcsSDcsSDcsSDcsSDcsSDcsSDcsSDcsSDcsSDcsSDcsSDcsSDcsSDcsSDcsSDcsSDcsSDcsSDcsSDcsSDcsSDcsSDcsSDcsSClpnlcAAAAddFJOUwCIOx5owFXezFkRLKPPSg+F3XaUsu6Zu6pmM3ciJrCq4AAAAcdJREFUSMe9lmlzhCAMhkHFsIKC567d+v//ZknwwKMdxzqbD46cT8gbMjDG5c6eX+xT9h6kLIdyRg+u3ZaHUxU0t+P5kLF0SOe2lL7vwBKAmLEHwCVQAuICHiabTn8KHwFEJ/Edf4X4knN5jPd2Nx4twFM7xD/WC+7Gf2f9KvhZ1h3jPdh/E9CFALBGaQCtaDy2LkiVcX+C4hXjbPeroxlvBAg32bg0glqd0v4XfE4ITV86l/I9Ig7wlReumPAactcb+3FQiEpTPvB0slKm6esMHhLcDbTBHty/wYNFOegl+BGN1OQe4i0hnVO5Qh/spP3W9qkXb/G4ZeG3IxeVJ7phM+NrJDBDs9yKZJVIFh3lQx+evm/L7en/wEdeYIqEk4N5VjHjxbT6McplxwLmRdH/0H6PF8uCEZ+v8M5QeQpUiO83+O4a/uj0VVgztaDEwGSI5uCXsl3de6z7F/DH2osAn2OuJORVsmjf8WeIbzlvr+CZGDO/xhLglzlcbZjSdlphKfwNNIYV+a3ah/feqx4jzoscL2VHk1dTubgPH1Q9NyLGqte4fEtYeFVdCwtmVeCMNwX/yUfrBgx++bHnRvbav3bkx147P5q5JO3ICaxhAAAAAElFTkSuQmCC"
                        media="(min-width: 768px)">
                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAATBAMAAACJlYuFAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAtUExURQAAADcsSDcsSDcsSDcsSDcsSDcsSDcsSDcsSDcsSDcsSDcsSDcsSDcsSDcsSMf87qkAAAAOdFJOUwDMVYgR3e6Zu2aqM3ciUvu/9AAAAH9JREFUCNdjYBaEgW4GhnOCcYEg5jvBVAYGOwc9BQYgEASy0DjF68AcUWM5IOfdOzBH7t07IOfKPIgylzp0PUp2RkpAEKi0DqwHBoCcSWAZzVSwDKqlUNMYQKYF5kHsEQTpKe4Dc8SM8xzwOPRccV+zsbGx+TNjoH+84D6VZgAAQPwyPISv6NkAAAAASUVORK5CYII="
                        alt="LOGO">
                </picture>
            </a>
        </div>
        <nav class="navigation">
            <ul class="nav-menu">
                <li class="nav-menu__item nav-menu__item--home">home</li>
                <li class="nav-menu__item nav-menu__item--library">my library</li>
            </ul>
        </nav>
    </div>
</div>