<div class="homePage__formblock">
    <form class="homePage__form js-form" action="">
        <div class="homePage__searchIcon"><i class="fa fa-search" aria-hidden="true" style="color:rgb(156, 153, 165); font-size: 18px; font-weight:100;"></i>
        </div>
        <input class="homePage__input js-input" type="text" placeholder="Write movie name and click Enter" autofocus>
    </form>
</div>