<div class="sectionFilm__pageCount">
    <button id='js-backButton' class="pageCount__backButton homePage__hide">Prev</button>
    <div class="pageCount__number js-plaginationPageNumber">1</div>
    <button id="js-nextButton" class="pageCount__nextButton">Next</button>
</div>