<div class="homePage__formblock">
    <form class="homePage__form js-form" action="">
        <img class="homePage__img"
            src='https://violity.shop/content/images/32/lupa-25kh90-steklo-plastmassovyy-korpus-lu3-32808250493274_small11.jpg'>
        <input class="homePage__input js-input" type="text" placeholder="Write movie name and click Enter" autofocus>
    </form>
</div>