<div class="libraryPage__buttons-wrap ">
    <ul class="libraryPage__btnList">
        <li class="libraryPage__btnItem">
            <button class="libraryPage__btnFavorite">queue</button>
        </li>
        <li class="libraryPage__btnItem"> 
            <button class="libraryPage__btnWatched">watched</button>
        </li>
      </ul>
</div>

<div class="libraryPage__cards-wrap">
      <div class="libraryPage__wrapper">
          <ul class="libraryPage__filmsList">
          </ul>
          <p class="libraryPage__emptyWatched libraryPage__empty libraryPage__hide">You do not have watched movies. Add them</p>
        <p class="libraryPage__emptyQueue libraryPage__empty libraryPage__hide">You do not have to queue movies to watch. Add them</p>
    </div>
</div>                                                                                                                                                    