
{{#each this}}
         <li class="libraryPage__FilmItem">
                        <img class="libraryPage__filmImg" src="{{backdrop_path}}" alt="">
                        <p class="libraryPage__FilmVote">{{vote_average}}</p>
                        <p class="libraryPage__FilmTitle">{{original_title}}</p>
                    </li>
{{/each}}