<div class="sectionFilm__pageCount">
    <button id='js-backButton' class="pageCount__backButton">Prev</button>
    <div class="pageCount__number js-plaginationPageNumber">{{page}}</div>
    <button id="js-nextButton" class="pageCount__nextButton">Next</button>
</div>